<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Systemparts | ホーム</title>
    <link rel="stylesheet" href="../files/css/reset.css?20231217">
    <link rel="stylesheet" href="../files/css/components.css?20231217">
    <link rel="stylesheet" href="../files/css/home.css?20231217">
</head>

<body>
    <header>
        <p class="c_typo_headerXL c_typo_WHT c_typo_center">Systemparts</p>
    </header>

    <!-- ハンバーガーメニュー -->
    <nav class="c_menu c_menu_close">
        <div class="c_menu_content">
            メニューのコンテンツ
        </div>
        <ul class="c_menu_target">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>

    <main>
        <section class="h_cardSection">
            <ul class="h_cardList">
                <li>
                    <a href="../sample/sample_Views/typography.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../sample/sample_files/sample_image/Sample_Typography.png">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">Typography</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../sample/sample_Views/textField.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">TextField</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../sample/sample_Views/counter.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">Counter</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../sample/sample_Views/button.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">Button</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../sample/sample_Views/navigation.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">Navigation</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../sample/sample_Views/carousel.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">Carousel</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../sample/sample_Views/veriableInFunction.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">関数内変数定義</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../sample/sample_Views/notification.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">Notification</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../sample/sample_Views/dialog.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">Dialog</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../sample/sample_Views/array.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">Array</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../sample/sample_Views/vhs.html" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">vhs</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="c_card">
                        <div class="c_card_img">
                            <img src="../files/image/sample_stamp.jpg">
                        </div>
                        <div class="h_underBarWrapper">
                            <div class="c_underBar"></div>
                        </div>
                        <div class="h_cardTitle">
                            <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">あああああ</p>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </main>

    <script src="../files/css/events.js?20231217"></script>
    <script src="../files/css/home.js?20231217"></script>
</body>

</html>