/* コンポーネント：typo */
.c_typo_headerXXS {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}

.c_typo_headerXS {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.c_typo_headerS {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.c_typo_headerM {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.c_typo_headerL {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.c_typo_headerXL {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.c_typo_headerXXL {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.c_typo_bodyXS {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

.c_typo_bodyS {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.c_typo_bodyM {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.c_typo_bodyL {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.c_typo_cta {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.c_typo_ctaS {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
}

.c_typo_numberL {
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
}

/* PC表示 */
@media (min-width: 760px) {
    .c_typo_headerXS {
        font-size: 16px;
        line-height: 24px;
    }

    .c_typo_headerS {
        font-size: 18px;
        line-height: 26px;
    }

    .c_typo_headerM {
        font-size: 22px;
        line-height: 32px;
    }

    .c_typo_headerL {
        font-size: 28px;
        line-height: 36px;
    }

    .c_typo_headerXL {
        font-size: 42px;
        line-height: 50px;
    }

    .c_typo_headerXXL {
        font-size: 48px;
        line-height: 56px;
    }

    .c_typo_bodyM {
        font-size: 18px;
        line-height: 26px;
    }

    .c_typo_bodyL {
        font-size: 24px;
        line-height: 36px;
    }

    .c_typo_numberL {
        font-size: 50px;
        line-height: 50px;
    }
}

.c_typo_WHT {
    color: #FFFFFF;
}

.c_typo_BLK01 {
    color: #2E2E2E;
}

.c_typo_BLK02 {
    color: #585858;
}

.c_typo_BLK03 {
    color: #D9D9D9;
}

.c_typo_GRN01 {
    color: #003D34;
}

.c_typo_GRN02 {
    color: #008673;
}

.c_typo_GRN03 {
    color: #CCEBE6;
}

.c_typo_BLU01 {
    color: #001E43;
}

.c_typo_BLU02 {
    color: #26499D;
}

.c_typo_BLU03 {
    color: #0068b7;
}

.c_typo_BLU04 {
    color: #00AFCC;
}

.c_typo_BLU05 {
    color: #BBDBF3;
}

.c_typo_BLU06 {
    color: #EAF6FF;
}

.c_typo_center {
    text-align: center;
}

.c_typo_right {
    text-align: right;
}

/* コンポーネント：underBar */
.c_underBar {
    height: 8px;
    border-radius: 4px;
    background: linear-gradient(to right, #3DD5E7, #EEDFBD);
}

/* コンポーネント：card */
.c_card {
    display: block;
    width: 164px;
    padding: 16px;
    border: 1px solid #D9D9D9;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.4);
}

.c_card_img {
    display: flex;
    align-items: flex-start;
    height: 120px;
    overflow: hidden;
}

.c_card_img>img {
    width: 100%;
}

@media (min-width: 760px) {
    .c_card {
        width: 224px;
        padding: 24px;
        border-radius: 24px;
    }

    .c_card:hover {
        transform: scale(1.04);
        transition: all ease-in 0.2s;
    }

    .c_card_img {
        height: 160px;
    }
}

/* コンポーネント：menu */
.c_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
}

.c_menu_content {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}

.c_menu_close>.c_menu_content {
    transform: translateX(64px);
    transition: all ease 0.2s;
}

.c_menu_open>.c_menu_content {
    transform: translateX(calc(64px - 100vw));
    transition: all ease 0.2s;
}

.c_menu_target {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 16px 10px;
}

.c_menu_target>li {
    height: 4px;
    border-radius: 2px;
}

.c_menu_close>.c_menu_target>li {
    background-color: #FFFFFF;
    transition: all 0.2s;
}

.c_menu_open>.c_menu_target>li {
    background-color: #585858;
    transition: all 0.2s;
}

.c_menu_target>li:not(:first-child) {
    margin-top: 10px;
}

.c_menu_open>.c_menu_target>li:nth-of-type(1) {
    transform: rotate(45deg) translateY(16px);
}

.c_menu_open>.c_menu_target>li:nth-of-type(2) {
    opacity: 0;
}

.c_menu_open>.c_menu_target>li:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-16px);
}

/* コンポーネント：TextField01 */
.c_textField01 {
    position: relative;
    width: 100%;
    padding-top: 28px;
}

.c_textField01>p {
    position: absolute;
    top: 44px;
    left: 16px;
    width: calc(100% - 16px * 2);
    pointer-events: none;
    transition: all ease 0.6s;
}

.c_textField01:has(input:focus)>p {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2E2E2E;
    transition: all ease 0.6s;
}

.c_textField01:has(input:not(:placeholder-shown))>p {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #2E2E2E;
    transition: all ease 0.6s;
}

.c_textField01>input {
    width: 100%;
    padding: 16px;
    border: 1px solid #EAF6FF;
    border-radius: 16px;
    background-color: #EAF6FF;
    outline: none;
}

.c_textField01>input:focus {
    border: 1px solid #00AFCC;
}

.c_textField01_inputText {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2E2E2E;
}

/* コンポーネント：TextField01 */
.c_textField02 {
    width: 100%;
    padding: 16px;
    border: 1px solid #EAF6FF;
    border-radius: 16px;
    outline: none;
    background-color: #EAF6FF;
}

.c_textField02::placeholder {
    color: #585858;
}

.c_textField02:focus {
    border: 1px solid #00AFCC;
}

/* コンポーネント：button */
.c_button {
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 24px;
    background-color: #0068b7;
    outline: none;
    transition: all 0.2s;
}

.c_button:focus {
    padding: 13px 0;
    border: 3px solid #00AFCC;
    transition: all 0.2s;
}

@media (min-width: 760px) {
    .c_button:hover {
        padding: 13px 0;
        border: 3px solid #0068b7;
        background-color: #EAF6FF;
        cursor: pointer;
        transition: all 0.2s;
    }

    .c_button:hover>p {
        color: #0068b7;
        transition: all 0.2s;
    }
}

.c_button:disabled {
    background-color: #D9D9D9;
    pointer-events: none;
}

.c_button:disabled>p {
    color: #585858;
}

/* コンポーネント：button02 */
.c_button02>input {
    display: none;
}

.c_button02>label {
    display: block;
    width: 100%;
    padding: 16px;
    border-radius: 24px;
    background-color: #0068b7;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

/* コンポーネント：Navigation */
.c_nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
}

.c_nav_menuArea {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.4s;
}

.c_nav_menuArea>ul {
    padding: 24px 48px 24px 24px;
}

.c_nav_menuArea li:not(:first-child) {
    margin-top: 16px;
}

.c_nav_barArea {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    padding: 12px 8px;
}

.c_nav_barArea li {
    height: 4px;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.c_nav_barArea li:not(:first-child) {
    margin-top: 6px;
    transition: all 0.4s;
}

.c_nav_barArea li:nth-child(1),
.c_nav_barArea li:nth-child(2),
.c_nav_barArea li:nth-child(3) {
    transition: all 0.4s;
}

.c_nav_open>.c_nav_menuArea {
    transform: translateX(-100vw);
    transition: all 0.4s;
}

.c_nav_open>.c_nav_barArea li:not(:first-child) {
    margin-top: 0;
    transition: all 0.4s;
}

.c_nav_open>.c_nav_barArea li:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
    transition: all 0.4s;
}

.c_nav_open>.c_nav_barArea li:nth-child(2) {
    transform: rotateY(90deg);
    opacity: 0;
    transition: all 0.4s;
}

.c_nav_open>.c_nav_barArea li:nth-child(3) {
    transform: translateY(2px) rotate(45deg);
    transition: all 0.4s;
}

@media (min-width: 760px) {
    .c_nav_menuArea {
        width: calc(100vw / 4);
    }

    .c_nav_menuArea li:hover {
        background-color: #BBDBF3;
    }

    .c_nav_menuArea li:hover p {
        color: #FFFFFF;
    }

    .c_nav_barArea {
        cursor: pointer;
    }

    .c_nav_open>.c_nav_menuArea {
        transform: translateX(calc(-100vw / 4));
    }
}

/* コンポーネント：Carousel */
.c_carousel_contentsList {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.c_carousel_contentsList>li {
    flex-shrink: 0;
    width: 100%;
    padding: 24px;
    scroll-snap-align: center;
}

.c_carousel_dotList {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.c_carousel_dotList>li:not(:first-child) {
    padding-left: 8px;
}

.c_carousel_dot {
    width: 8px;
    height: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.c_carousel_selected>.c_carousel_dot {
    background-color: #D9D9D9;
}

