/* コンポーネント：typo */
.c_typo_headerXXS {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}

.c_typo_headerXS {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.c_typo_headerS {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.c_typo_headerM {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.c_typo_headerL {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.c_typo_headerXL {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.c_typo_bodyXS {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

.c_typo_bodyS {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.c_typo_bodyM {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.c_typo_bodyL {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.c_typo_cta {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.c_typo_ctaS {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
}

.c_typo_numberL {
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
}

/* PC表示 */
@media (min-width: 760px) {
    .c_typo_headerXS {
        font-size: 16px;
        line-height: 24px;
    }

    .c_typo_headerS {
        font-size: 18px;
        line-height: 26px;
    }

    .c_typo_headerM {
        font-size: 22px;
        line-height: 32px;
    }

    .c_typo_headerL {
        font-size: 28px;
        line-height: 36px;
    }

    .c_typo_headerXL {
        font-size: 42px;
        line-height: 50px;
    }

    .c_typo_bodyM {
        font-size: 18px;
        line-height: 26px;
    }

    .c_typo_bodyL {
        font-size: 24px;
        line-height: 36px;
    }

    .c_typo_numberL {
        font-size: 50px;
        line-height: 50px;
    }
}

.c_typo_WHT {
    color: #FFFFFF;
}

.c_typo_BLK01 {
    color: #2E2E2E;
}

.c_typo_BLK02 {
    color: #585858;
}

.c_typo_BLK03 {
    color: #D9D9D9;
}

.c_typo_GRN01 {
    color: #003D34;
}

.c_typo_GRN02 {
    color: #008673;
}

.c_typo_GRN03 {
    color: #CCEBE6;
}

.c_typo_center {
    text-align: center;
}

.c_typo_right {
    text-align: right;
}

/* コンポーネント：underBar */
.c_underBar {
    height: 8px;
    border-radius: 4px;
    background: linear-gradient(to right, #3DD5E7, #EEDFBD);
}

/* コンポーネント：card */
.c_card {
    display: block;
    width: 165px;
    padding: 16px;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.4);
}

.c_card_img {
    display: flex;
    align-items: flex-start;
    height: 120px;
    overflow: hidden;
}

.c_card_img>img {
    width: 100%;
}

/* コンポーネント：menu */
.c_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
}

.c_menu_content {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}

.c_menu_close>.c_menu_content {
    transform: translateX(64px);
    transition: all ease 0.2s;
}

.c_menu_open>.c_menu_content {
    transform: translateX(calc(64px - 100vw));
    transition: all ease 0.2s;
}

.c_menu_target {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 16px 10px;
}

.c_menu_target>li {
    height: 4px;
    border-radius: 2px;
}

.c_menu_close>.c_menu_target>li {
    background-color: #FFFFFF;
    transition: all 0.2s;
}

.c_menu_open>.c_menu_target>li {
    background-color: #585858;
    transition: all 0.2s;
}

.c_menu_target>li:not(:first-child) {
    margin-top: 10px;
}

.c_menu_open>.c_menu_target>li:nth-of-type(1) {
    transform: rotate(45deg) translateY(16px);
}

.c_menu_open>.c_menu_target>li:nth-of-type(2) {
    opacity: 0;
}

.c_menu_open>.c_menu_target>li:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-16px);
}