<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>コンポーネント：ダイアログ</title>
    <link rel="stylesheet" href="../../common/reset.css">
    <link rel="stylesheet" href="../p_css/dialog.css">
</head>

<body>
    <main>
        <div class="c_dialog_trigger">
            <a href="#" class="c_button01">
                <p class="c_typo_cta">ボタン</p>
            </a>
        </div>
        <dialog class="c_dialog_content">
            <p>これはダイアログです。</p>
        </dialog>
    </main>

    <script src="../p_css/dialog.js"></script>
</body>

</html>