<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>ホーム</title>
    <link rel="stylesheet" href="../../components/files/css/reset.css">
    <link rel="stylesheet" href="../../components/files/css/components.css">
    <link rel="stylesheet" href="../loginAuthentication_files/css/home.css">
</head>

<body>
    <header>
        <h1 class="c_typo_headerL c_typo_BLK01 c_typo_center">ホーム</h1>
    </header>

    <main>

    </main>

    <script src="../../components/files/css/events.js" type="text/javascript"></script>
    <script src="../loginAuthentication_files/css/home.js" type="text/javascript"></script>
</body>

</html>