<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>アイコン移動</title>
    <link rel="stylesheet" href="../common/reset.css">
    <link rel="stylesheet" href="./p_css/moveIcon.css">
    <link rel="stylesheet" href="./p_css/style.css">
</head>

<body>
    <main>

        <!-- アイコン移動 -->
        <div id="c_moveIcon">
            <img src="./p_image/soccerball_03.png" id="c_moveIcon_icon">
        </div>
        
    </main>

    <script type="text/javascript" src="./p_css/moveIcon.js"></script>
</body>

</html>