<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Typography</title>
    <link rel="stylesheet" href="../../files/css/reset.css">
    <link rel="stylesheet" href="../../files/css/components.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_button.css">
</head>

<body>
    <main>
        <!-- c_button -->
        <section>
            <button class="c_button">
                <p id="releaseMemoryLeaksBtn" class="c_typo_headerS c_typo_WHT c_typo_center">メモリを解放</p>
            </button>
        </section>

        <!-- c_button02 -->
        <section>
            <div class="c_button02"><input type="file" accept="image/png,image/jpeg" id="c_button02_input"><label
                    for="c_button02_input">
                    <p>アップロード</p>
                </label></div>
            <div class="uploadArea">
                <p class="c_typo_headerXS c_typo_BLK01">アップロード画像</p>
                <p id="uploadImgName" class="c_typo_bodyS c_typo_BLK01">画像名</p>
                <img id="uploadImg" class="uploadImg">
            </div>
        </section>

        <section class="codeSection">
            <button class="copyBtn">
                <p class="c_typo_headerS c_typo_BLK01">Copy</p>
            </button>
            <code>

            </code>
        </section>
    </main>

    <script type="text/javascript" src="../sample_files/sample_css/sample_button.js"></script>
</body>

</html>