<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Carousel</title>
    <link rel="stylesheet" href="../../files/css/reset.css?20231218">
    <link rel="stylesheet" href="../../files/css/components.css?20231218">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css?20231218">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_carousel.css?20231218">
</head>

<body>
    <main>
        <section>
            <!-- c_carousel -->
            <div class="c_carousel">
                <ul class="c_carousel_contentsList">
                    <li class="c_carousel_selected">
                        <img src="../sample_files/sample_image/sample.png" class="pt_crs_sampleImg">
                    </li>
                    <li>
                        <img src="../sample_files/sample_image/sample.png" class="pt_crs_sampleImg">
                    </li>
                    <li>
                        <img src="../sample_files/sample_image/sample.png" class="pt_crs_sampleImg">
                    </li>
                </ul>
                <ul class="c_carousel_dotList">
                    <li class="c_carousel_selected">
                        <div class="c_carousel_dot"></div>
                    </li>
                    <li>
                        <div class="c_carousel_dot"></div>
                    </li>
                    <li>
                        <div class="c_carousel_dot"></div>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <script type="text/javascript" src="../../files/css/events.js?20231218"></script>
</body>

</html>