<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Carousel</title>
    <link rel="stylesheet" href="../../files/css/reset.css?20231218">
    <link rel="stylesheet" href="../../files/css/components.css?20231218">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css?20231218">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_carousel.css?20231218">
</head>

<body>
    <main>
        <!-- カルーセルセクション -->
        <section class="sp_carouselSec" style="display: none;">
            <div class="sp_carouselSecInner">

                <!-- c_carousel -->
                <div class="c_carousel">
                    <div class="c_carousel_cardListArea">
                        <ul class="c_carousel_cardList">
                            <li>
                                <div class="c_carousel_card">
                                    <div class="sp_content1">サンプルコンテンツ1</div>
                                </div>
                            </li>
                            <li class="c_carousel_active">
                                <div class="c_carousel_card">
                                    <div class="sp_content2">サンプルコンテンツ2</div>
                                </div>
                            </li>
                            <li>
                                <div class="c_carousel_card">
                                    <div class="sp_content3">サンプルコンテンツ3</div>
                                </div>
                            </li>
                        </ul>
                        <a class="c_carousel_btn c_carousel_btn_left"></a>
                        <a class="c_carousel_btn c_carousel_btn_right"></a>
                    </div>
                    <div class="c_carousel_dotListArea">
                        <ul class="c_carousel_dotList">
                            <li>
                                <div class="c_carousel_dot"></div>
                            </li>
                            <li>
                                <div class="c_carousel_dot"></div>
                            </li>
                            <li>
                                <div class="c_carousel_dot"></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

        <!-- カルーセルセクション -->
        <section class="sp_carouselSec">
            <div class="sp_carouselSecInner">

                <!-- c_carousel -->
                <div class="c_carousel">
                    <div class="c_carousel_cardArea">
                        <ul>
                            <li class="c_caroucel_active">
                                <div class="c_caroucel_card"></div>
                            </li>
                            <li>
                                <div class="c_caroucel_card"></div>
                            </li>
                            <li>
                                <div class="c_caroucel_card"></div>
                            </li>
                            <li>
                                <div class="c_caroucel_card"></div>
                            </li>
                        </ul>
                        <div class="c_carousel_btn c_carousel_btn_left"></div>
                        <div class="c_carousel_btn c_carousel_btn_left"></div>
                    </div>
                    <div class="c_carousel_dotArea">
                        <ul>
                            <li>
                                <a class="c_carousel_dot c_carousel_active"></a>
                            </li>
                            <li>
                                <a class="c_carousel_dot"></a>
                            </li>
                            <li>
                                <a class="c_carousel_dot"></a>
                            </li>
                            <li>
                                <a class="c_carousel_dot"></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </main>

    <script type="text/javascript" src="../../files/css/events.js?20231218"></script>
</body>

</html>