<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Dialog</title>
    <link rel="stylesheet" href="../../files/css/reset.css">
    <link rel="stylesheet" href="../../files/css/components.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_dialog.css">
</head>

<body>
    <main>
        <section>
            <!-- c_dialog -->
            <div class="c_dialog">
                <div class="c_dialog_target">
                    <!-- c_button -->
                    <a class="c_button">
                        <p class="c_typo_headerS c_typo_WHT c_typo_center">ボタン</p>
                    </a>
                </div>
                <dialog class="c_dialog_contents">
                    <p class="c_typo_headerXS c_typo_BLK01 c_typo_center">Dialog</p>
                </dialog>
            </div>
        </section>
    </main>

    <script type="text/javascript" src="../sample_files/sample_css/sample_dialog.js"></script>
    <script type="text/javascript" src="../../files/css/events.js"></script>
</body>

</html>