<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Dialog</title>
    <link rel="stylesheet" href="../../files/css/reset.css">
    <link rel="stylesheet" href="../../files/css/components.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_dialog.css">
</head>

<body>
    <main>
        <section class="sp_dialogSec">
            <!-- c_dialog -->
            <div class="c_dialog">
                <div class="c_dialog_target">
                    <!-- ターゲット -->
                    <div class="sp_btnWidth">
                        <a href="javascript:void(0);" class="c_button" tabindex="0">
                            <p class="c_typo_headerS c_typo_WHT c_typo_center">ボタン</p>
                        </a>
                    </div>
                </div>
                <dialog class="c_dialog_backGround">
                    <div class="c_dialog_contents">
                        <a href="javascript:void(0);" class="c_dialog_closeIcon"><svg width="48" height="48"
                                viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="24" cy="24" r="24" fill="#26499D" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.2721 11.2721C10.491 12.0531 10.491 13.3195 11.2721 14.1005L21.1716 24L11.2721 33.8995C10.491 34.6805 10.491 35.9469 11.2721 36.7279C12.0531 37.509 13.3195 37.509 14.1005 36.7279L24 26.8284L33.8995 36.7279C34.6805 37.509 35.9469 37.509 36.7279 36.7279C37.509 35.9469 37.509 34.6805 36.7279 33.8995L26.8284 24L36.7279 14.1005C37.509 13.3195 37.509 12.0531 36.7279 11.2721C35.9469 10.491 34.6805 10.491 33.8995 11.2721L24 21.1716L14.1005 11.2721C13.3195 10.491 12.0531 10.491 11.2721 11.2721Z"
                                    fill="#FFFFFF" />
                            </svg></a>
                        <div class="c_dialog_textArea">
                            <p class="c_typo_headerS c_typo_BLK">ダイアログ</p>
                        </div>
                    </div>
                </dialog>
            </div>
        </section>

        <section class="sp_dialogSec">
            <div class="c_dialog">
                <div class="c_dialog_target">
                    <div class="sp_btnWidth">
                        <a href="javascript:void(0);" class="c_button" tabindex="0">
                            <p class="c_typo_headerS c_typo_WHT c_typo_center">ボタン</p>
                        </a>
                    </div>
                </div>
                <dialog class="c_dialog_backGround">
                    <div class="c_dialog_contents">
                        <a href="javascript:void(0);" class="c_dialog_closeIcon"><svg width="48" height="48"
                                viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="24" cy="24" r="24" fill="#26499D" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M11.2721 11.2721C10.491 12.0531 10.491 13.3195 11.2721 14.1005L21.1716 24L11.2721 33.8995C10.491 34.6805 10.491 35.9469 11.2721 36.7279C12.0531 37.509 13.3195 37.509 14.1005 36.7279L24 26.8284L33.8995 36.7279C34.6805 37.509 35.9469 37.509 36.7279 36.7279C37.509 35.9469 37.509 34.6805 36.7279 33.8995L26.8284 24L36.7279 14.1005C37.509 13.3195 37.509 12.0531 36.7279 11.2721C35.9469 10.491 34.6805 10.491 33.8995 11.2721L24 21.1716L14.1005 11.2721C13.3195 10.491 12.0531 10.491 11.2721 11.2721Z"
                                    fill="#FFFFFF" />
                            </svg></a>
                        <div class="c_dialog_textArea">
                            <p class="c_typo_headerS c_typo_BLK">
                                ダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログダイアログ
                            </p>
                        </div>
                    </div>
                </dialog>
            </div>
        </section>
    </main>

    <script type="text/javascript" src="../sample_files/sample_css/sample_dialog.js"></script>
    <script type="text/javascript" src="../../files/css/events.js"></script>
</body>

</html>