<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>dvh</title>
    <link rel="stylesheet" href="../../files/css/reset.css">
    <link rel="stylesheet" href="../../files/css/components.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_vhs.css">
</head>

<body class="sp_body sp_body_dvh">
    <!-- ヘッダー -->
    <header class="sp_header">
        <h1 class="c_typo_headerL c_typo_BLK01 c_typo_center">dvh</h1>
        <div class="sp_lead">
            <p class="c_typo_bodyL c_typo_BLK01">bodyの高さが100dvhです。</p>
        </div>
    </header>

    <!-- メイン -->
    <main class="sp_main"></main>

    <!-- フッター -->
    <footer class="sp_footer"></footer>

    <script type="text/javascript" src="../../files/css/events.js"></script>
</body>

</html>