<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Navigation</title>
    <link rel="stylesheet" href="../../files/css/reset.css">
    <link rel="stylesheet" href="../../files/css/components.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_navigation.css">
</head>

<body>
    <main>
        <section>
            <!-- c_nav -->
            <nav class="c_nav">
                <div class="c_nav_menuArea">
                    <ul>
                        <li>
                            <a href="#">
                                <p class="c_typo_headerXS c_typo_BLU01">任意の文言1</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="c_typo_headerXS c_typo_BLU01">任意の文言2</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="c_typo_headerXS c_typo_BLU01">任意の文言2</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="c_nav_barArea">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </nav>
        </section>

        <section class="codeSection">
            <code>

            </code>
        </section>
    </main>

    <script type="text/javascript" src="../../files/css/events.js"></script>
</body>

</html>