<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>Typography</title>
    <link rel="stylesheet" href="../../files/css/reset.css">
    <link rel="stylesheet" href="../../files/css/components.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_textField.css">
</head>

<body>
    <main>
        <section class="textField01Section">
            <div class="c_textField01">
                <p class="c_typo_bodyM c_typo_BLK02">入力内容</p>
                <div class="c_textField01_inputWrapper">
                    <input class="c_textField01_inputText" type="text" placeholder="">
                </div>
            </div>
        </section>

        <section class="codeSection">
            <button class="copyBtn">
                <p class="c_typo_headerS c_typo_BLK01">Copy</p>
            </button>
            <code>

            </code>
        </section>
    </main>
</body>

</html>