<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Typography</title>
    <link rel="stylesheet" href="../../files/css/reset.css?20231218">
    <link rel="stylesheet" href="../../files/css/components.css?20231218">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css?20231218">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_textField.css?20231218">
</head>

<body>
    <main>
        <!-- c_textField01 -->
        <section>
            <div class="c_textField01">
                <p class="c_typo_bodyM c_typo_BLK02">任意のラベルを入力してください</p>
                <input class="c_textField01_inputText" type="text" placeholder="&nbsp;">
            </div>
        </section>

        <!-- c_textField02 -->
        <section>
            <p class="c_typo_headerS c_typo_BLK01">任意のラベルを入力してください</p>
            <div class="pt_textFieldWrapper">
                <input class="c_textField02 c_typo_bodyM c_typo_BLK02" type="text" placeholder="入力してください">
            </div>
        </section>
    </main>
</body>

</html>