<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>Typography</title>
    <link rel="stylesheet" href="../../files/css/reset.css">
    <link rel="stylesheet" href="../../files/css/components.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_typography.css">
</head>

<body>
    <main>
        <section class="sizeSection">
            <p class="c_typo_numberL c_typo_BLK01">numberL BLK01</p>
            <p class="c_typo_headerXL c_typo_BLK01">headerXL BLK01</p>
            <p class="c_typo_headerL c_typo_BLK01">headerL BLK01</p>
            <p class="c_typo_headerM c_typo_BLK01">headerM BLK01</p>
            <p class="c_typo_headerS c_typo_BLK01">headerS BLK01</p>
            <p class="c_typo_headerXS c_typo_BLK01">headerXS BLK01</p>
            <p class="c_typo_bodyL c_typo_BLK01">bodyL BLK01</p>
            <p class="c_typo_bodyM c_typo_BLK01">bodyM BLK01</p>
            <p class="c_typo_bodyS c_typo_BLK01">bodyS BLK01</p>
            <p class="c_typo_bodyXS c_typo_BLK01">bodyXS BLK01</p>
            <p class="c_typo_cta c_typo_BLK01">cta BLK01</p>
            <p class="c_typo_ctaS c_typo_BLK01">ctaS BLK01</p>
        </section>

        <section class="positionSection">
            <p class="c_typo_bodyM c_typo_BLK01">bodyM BLK01</p>
            <p class="c_typo_bodyM c_typo_BLK01 c_typo_center">bodyM BLK01 center</p>
            <p class="c_typo_bodyM c_typo_BLK01 c_typo_right">bodyM BLK01 right</p>
        </section>

        <section class="colorSection">
            <p class="c_typo_bodyM c_typo_BLK01">bodyM BLK01</p>
            <p class="c_typo_bodyM c_typo_BLK02">bodyM BLK02</p>
            <p class="c_typo_bodyM c_typo_BLK03">bodyM BLK03</p>
            <p class="c_typo_bodyM c_typo_WHT">bodyM WHT</p>
            <p class="c_typo_bodyM c_typo_GRN01">bodyM GRN01</p>
            <p class="c_typo_bodyM c_typo_GRN02">bodyM GRN02</p>
            <p class="c_typo_bodyM c_typo_GRN03">bodyM GRN03</p>
            <p class="c_typo_bodyM c_typo_GRN03">bodyM GRN03</p>
        </section>

        <section class="codeSection">
            <button class="copyBtn">
                <p class="c_typo_headerS c_typo_BLK01">Copy</p>
            </button>
            <code>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_numberL c_typo_BLK01"&gt;numberL BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_headerXL c_typo_BLK01"&gt;headerXL BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_headerL c_typo_BLK01"&gt;headerL BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_headerM c_typo_BLK01"&gt;headerM BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_headerS c_typo_BLK01"&gt;headerS BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_headerXS c_typo_BLK01"&gt;headerXS BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyL c_typo_BLK01"&gt;bodyL BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_BLK01"&gt;bodyM BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyS c_typo_BLK01"&gt;bodyS BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyXS c_typo_BLK01"&gt;bodyXS BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_cta c_typo_BLK01"&gt;cta BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_ctaS c_typo_BLK01"&gt;ctaS BLK01&lt;/p&gt;</pre>
                <br>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_BLK01"&gt;bodyM BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_BLK01 c_typo_center"&gt;bodyM BLK01 center&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_BLK01 c_typo_right"&gt;bodyM BLK01 right&lt;/p&gt;</pre>
                <br>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_BLK01"&gt;bodyM BLK01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_BLK02"&gt;bodyM BLK02&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_BLK03"&gt;bodyM BLK03&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_WHT"&gt;bodyM WHT&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_GRN01"&gt;bodyM GRN01&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_GRN02"&gt;bodyM GRN02&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_GRN03"&gt;bodyM GRN03&lt;/p&gt;</pre>
                <pre class="c_typo_bodyM c_typo_WHT">&lt;p class="c_typo_bodyM c_typo_GRN03"&gt;bodyM GRN03&lt;/p&gt;</pre>
            </code>
        </section>
    </main>
</body>

</html>