<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Carousel</title>
    <link rel="stylesheet" href="../../files/css/reset.css?20240107">
    <link rel="stylesheet" href="../../files/css/components.css?20240107">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css?20240107">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_veriableInFunction.css?20240107">
</head>

<body>
    <main>
        <div class="box" id="box"></div>

        <div class="btnWrapper">
            <a class="button" tabindex="1" id="btn">
                <p class="c_typo_cta c_typo_WHT c_typo_center">ボタン</p>
            </a>
        </div>
    </main>

    <script type="text/javascript" src="../../files/css/events.js?20240107"></script>
    <script type="text/javascript" src="../sample_files/sample_css/sample_veriableInFunction.js?20240107"></script>
</body>

</html>