<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>vhs</title>
    <link rel="stylesheet" href="../../files/css/reset.css">
    <link rel="stylesheet" href="../../files/css/components.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_vhs.css">
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <h1 class="c_typo_headerL c_typo_BLK01 c_typo_center">vh</h1>
        <div class="sp_lead">
            <p class="c_typo_bodyL c_typo_BLK01">vh、svh、lvh、dvhを比較できます。</p>
        </div>
    </header>

    <!-- メイン -->
    <main>
        <section class="sp_linkSec">
            <ul>
                <li>
                    <a href="./vh.html">vh</a>
                </li>
                <li>
                    <a href="./svh.html">svh</a>
                </li>
                <li>
                    <a href="./lvh.html">lvh</a>
                </li>
                <li>
                    <a href="./dvh.html">dvh</a>
                </li>
            </ul>
        </section>
    </main>

    <script type="text/javascript" src="../../files/css/events.js"></script>
</body>

</html>