<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Vibration</title>
    <link rel="stylesheet" href="../../files/css/reset.css">
    <link rel="stylesheet" href="../../files/css/components.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_common.css">
    <link rel="stylesheet" href="../sample_files/sample_css/sample_vibration.css">
</head>

<body class="sp_body sp_body_vh">
    <!-- ヘッダー -->
    <header class="sp_header">
        <h1 class="c_typo_headerL c_typo_BLK01 c_typo_center">Vibration</h1>
        <div class="sp_lead">
            <p class="c_typo_bodyL c_typo_BLK01">ボタンを押すと振動するはずです・・・</p>
        </div>
    </header>

    <!-- メイン -->
    <main class="sp_main">
        <div class="sp_btnWrapper">
            <a href="javascript:void(0);" tabindex="0" class="c_button01" id="sp_btn">
                <p class="c_typo_headerS c_typo_WHT c_typo_center">ボタン</p>
            </a>
        </div>
    </main>

    <script type="text/javascript" src="../../files/css/events.js"></script>
    <script type="text/javascript" src="../sample_files/sample_css/sample_vibration.js"></script>
</body>

</html>