<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>プログレスバー</title>
    <link rel="stylesheet" href="../common/reset.css">
    <link rel="stylesheet" href="./p_css/progressBar.css">
    <link rel="stylesheet" href="./p_css/style.css">
</head>

<body>
    <main>

        <!-- プログレスバー -->
        <div class="c_progressBar">
            <div class="c_progressBar_circle c_progressBar_big c_progressBar_active">
                <p class="c_progressBar_typo_number">1</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">5</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">10</p>
            </div>
        </div>

        <!-- プログレスバー -->
        <div class="c_progressBar">
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">1</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small c_progressBar_active"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">5</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">10</p>
            </div>
        </div>

        <!-- プログレスバー -->
        <div class="c_progressBar">
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">1</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small c_progressBar_active"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">5</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">10</p>
            </div>
        </div>

        <!-- プログレスバー -->
        <div class="c_progressBar">
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">1</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small c_progressBar_active"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">5</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">10</p>
            </div>
        </div>

        <!-- プログレスバー -->
        <div class="c_progressBar">
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">1</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big c_progressBar_active">
                <p class="c_progressBar_typo_number">5</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">10</p>
            </div>
        </div>

        <!-- プログレスバー -->
        <div class="c_progressBar">
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">1</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">5</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small c_progressBar_active"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">10</p>
            </div>
        </div>

        <!-- プログレスバー -->
        <div class="c_progressBar">
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">1</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">5</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small c_progressBar_active"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">10</p>
            </div>
        </div>

        <!-- プログレスバー -->
        <div class="c_progressBar">
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">1</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">5</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small c_progressBar_active"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">10</p>
            </div>
        </div>

        <!-- プログレスバー -->
        <div class="c_progressBar">
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">1</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">5</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big c_progressBar_active">
                <p class="c_progressBar_typo_number">10</p>
            </div>
        </div>

        <!-- プログレスバー -->
        <div class="c_progressBar">
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">1</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">5</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big">
                <p class="c_progressBar_typo_number">6</p>
            </div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_small"></div>
            <div class="c_progressBar_bar"></div>
            <div class="c_progressBar_circle c_progressBar_big c_progressBar_active">
                <p class="c_progressBar_typo_number">10</p>
            </div>
        </div>
    </main>
</body>

</html>