/* サンプル（Array） */
.sp_hidden {
    display: none;
}

body {
    background-color: #EAF6FF;
}

/* ヘッダー */
header {
    padding: 20px 20px 48px;
}

@media (min-width: 760px) {
    header {
        max-width: 592px;
        margin: 0 auto;
        padding: 32px 0 64px;
    }
}

.sp_lead {
    padding-top: 24px;
}

/* メイン */
.sp_generateSec {
    padding: 40px 20px 0;
    background-color: #FFFFFF;
}

@media (min-width: 760px) {

    .sp_generateSec {
        padding: 64px 0 24px;
    }

    .sp_secInner {
        max-width: 592px;
        margin: 0 auto;
    }
}

.sp_notesWrapper {
    padding-top: 8px;
}

.sp_generateSec .sp_item {
    padding-top: 24px;
}

.sp_generateSec .sp_item>.sp_itemContents {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.sp_textFieldWrapper {
    width: 64px;
}

.sp_generateSec .sp_item>.sp_itemContents>.sp_unit {
    padding-left: 4px;
}

.sp_requiredItem {
    display: flex;
    align-items: flex-start;
}

.sp_errArea {
    padding-top: 8px;
}

.sp_btnWrapper {
    width: 280px;
    margin: 0 auto;
    padding: 40px 0;
}

.sp_sortArea {
    display: flex;
    justify-content: flex-end;
}

.sp_ascBtn,
.sp_descBtn,
.sp_reloadBtn {
    flex-shrink: 0;
}

@media (min-width: 760px) {

    .sp_reloadBtn:hover>svg>path,
    .sp_ascBtn:hover>svg>path,
    .sp_descBtn:hover>svg>path {
        fill: #00AFCC;
        transition: all 0.2s;
    }
}

.sp_descBtn,
.sp_reloadBtn {
    margin-left: 16px;
}

.sp_cardArea {
    padding-bottom: 40px;
}

.sp_cardListWrapper {
    padding-top: 16px;
}

.sp_cardList {
    display: flex;
    flex-wrap: wrap;
}

.sp_cardList>li {
    min-width: 10%;
}

.sp_cardList>li {
    padding: 0 2px;
}

@media (min-width: 760px) {
    .sp_cardList>li {
        padding: 0 8px;
    }
}

.sp_cardList>li:nth-child(n + 11) {
    margin-top: 8px;
}

.sp_card {
    padding: 8px 0;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}